{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    {% block body %}
    <nav class="navbar navbar-expand-lg shadow-sm p-3 mb-5 bg-body rounded">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Home</a>
          <a class="nav-link text-muted text-dark-hover" href="{% url 'images' %}">Images</a>
          {% if user.is_authenticated %}
          <div class="ms-auto" id="">
                <a class="nav-link d-inline mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{user.username}}
                </a>
              <a class="btn btn-outline-secondary" href="{% url 'logout' %}">Logout</a>
          </div>

        {% endif %}
        </div>
      </nav>


    {% block content %}
    {% endblock %}

    {% endblock body %}
</body>
</html>