{% extends 'base.html' %}

{% block title %} Signup {% endblock %}


{% block body %}
<div class="container w-50 shadow-sm p-2 bg-body rounded">
    <h1 class="text-success my-5 text-center">Signup</h1>
    <form method="post" novalidate>

        {% csrf_token %}
    
        {% include 'includes/form.html'%}
    
        <button class="btn btn-success  w-100" type="submit">Signup</button>
    
      </form>

      <div class="text-muted text-center small m-2">Already have an account? <a href="{% url 'login' %}">Login</a></div>
</div>

{% endblock %}